  *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.thumbnail_accordin{
  // border: 2px solid black;
  padding: 20px;
  max-width: 400px;
  margin-left: 100px;
}
.main_image_preview{
  margin-top: 100px;
  display: flex;
  place-content: center;
  border: 2px solid black;
  cursor: zoom-in;
  max-height: 400px;
  position: relative;

  .mouse_elem{
    border: 1px solid black;
    // position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    opacity: .5;
  }

  .zoomed_image{
    position: absolute;
    height:400px;
    width: 400px;
    border: 2px solid black;
    right: -450px;
    border: 2px solid black;

  }

  img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

}


.thumbnail_image{
  position: relative;
  display: flex;
  button{
    position: absolute;
    z-index: 10;
    height: 30px;
    width: 30px;
    transform: translateY(40px);
    border: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    opacity: .8;
  }
  .prev{
    // float: left;
    left: -10px;
  }
  .next{
    // float: right;
    right: -10px;
  }
}

.img_container{
  margin-top: 10px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  // place-content: center;
  // overflow: hidden;
  overflow-x: scroll;
  place-items: center;
  column-gap: 10px;
  // overflow-x: scroll;
  padding: 10px;
  img{
    height: 100%;
    transition:.5s ease;
      filter: saturate(50%);
      // max-width: 300px;
    cursor: pointer;
    border-radius: 8px;
    &:hover{
      filter: saturate(100%);
    }

  }
  .active{
    filter: saturate(100%);
    transform: scale(1.1);
  }
}


.img_container::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar width */
}

/* Optional: You can style the thumb and track if needed */
.container::-webkit-scrollbar-thumb {
  width: 0; /* Remove scrollbar thumb width */
}

.container::-webkit-scrollbar-track {
  background: transparent; /* Optional: Remove scrollbar track */
}